* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--black);
}

.game {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  background-color: var(--light);
  border-radius: 16px;
}

@media screen and (max-width: 740px) {
  body {
    font-size: 12px;
  }

  .game {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}

select {
  height: 46px;
  max-width: 100%;
  color: var(--black) !important;
}

input {
  padding: 10px 10px 9px !important;
  background-color: transparent;
  border-radius: 0.375rem;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.bordered {
  border: 3px solid var(--black);
}

.bg-inherit {
  background-color: inherit;
}

/* Transition */
.modal-enter-active,
.modal-leave-active {
  opacity: 1;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
