* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --black: #232323;
  --light: #faf4ec;
  --blue: #6495ed;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--black);
}

.game {
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  background-color: var(--light);
  border-radius: 16px;
}

@media screen and (max-width: 740px) {
  body {
    font-size: 12px;
  }

  .game {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}

select {
  min-height: 46px;
  max-width: 100%;
  color: var(--black) !important;
}

/* Transition */
.modal-enter-active,
.modal-leave-active {
  opacity: 1;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
